.product-detail {
  height: calc(100vh - 68px);
  top: 68px;
}
.scrollable-cards {
	overflow: scroll;
}

/* ===== Scrollbar CSS ===== */


  /* Chrome, Edge, and Safari */
  .scrollable-cards::-webkit-scrollbar {
    width: 10px;
		/* overflow-x: hidden; */
  }

  .scrollable-cards::-webkit-scrollbar-track {
    background: #ffffff;
		/* overflow-x: hidden; */
  }

  .scrollable-cards::-webkit-scrollbar-thumb {
    background-color: #2e2b2bb4;
    border-radius: 10px;
    border: 1px solid #ccc;
		/* overflow-x: hidden; */
  }